.nav-bar{
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px;
}
.Middle{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.b1{
  background-color: #918e81;
  color:black;border-color: white;
  font-size: larger;
  font-weight: 700;
  font-family: MedievalSharp;
}
.b2{
  background-color: #918e81;
  color: black;border-color: white;
  font-size: larger;
  font-weight: 700;
  font-family: MedievalSharp;
}
.reg{
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 20px;
}
.harry{
  height: 50px;
  padding-top: 3px;
  padding-bottom: 10px;
}
.right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 21px;
  padding-right: 6px;
}
.profile{
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-top: -2.1px;
}
.Ptext{
  color: black;
  font-size: large;
  font-weight: 700;
  font-family: MedievalSharp;
  padding-top: 1px;
}
.combined{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.logo{
  height: 150px;
  width:220px;
}
@keyframes moveUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.logo {
  animation: moveUpDown 2.5s infinite; 
}
.Team{
  font-family: MedievalSharp;
  font-size: larger;
}
.Team:hover{
  transform: scale(1.1);
}
.Contact{
  font-family: MedievalSharp;
  font-size: larger;
}
.h{
  font-family: MedievalSharp;
  font-size: larger;
}